{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}
    <h1 class="text-xl">Home Controller</h1>
{% endblock %}
